@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
    background: #F8D1E0;
    height: 100%;
    width: 100%;
    padding-top: 10px;
}